/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=73X0u0kjUqru5eBo8lueIw08OKZ */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #444A92 }	/* Main Primary color */
.color-primary-1 { color: #0F1451 }
.color-primary-2 { color: #2A2F77 }
.color-primary-3 { color: #6B70B1 }
.color-primary-4 { color: #A5A8D8 }

.color-secondary-1-0 { color: #5E3E8F }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #260C4F }
.color-secondary-1-2 { color: #442574 }
.color-secondary-1-3 { color: #8165AE }
.color-secondary-1-4 { color: #B6A1D6 }

.color-secondary-2-0 { color: #D3C550 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #746907 }
.color-secondary-2-2 { color: #AB9D2A }
.color-secondary-2-3 { color: #FFF28A }
.color-secondary-2-4 { color: #FFF7B9 }

.color-complement-0 { color: #D3B050 }	/* Main Complement color */
.color-complement-1 { color: #745707 }
.color-complement-2 { color: #AB892A }
.color-complement-3 { color: #FFE08A }
.color-complement-4 { color: #FFECB9 }






/* Giving the body a pleasing background color, adding font sizes for the h1 and h3 elements we'll be using */

body {
    background: #A5A8D8;
  
}



h1 {
  font-size: 80px;
}

h3 {
  font-size: 30px;
}

/* Giving our navbar some padding and a background color */

.navbar {
  padding: 10px;
  background: #0F1451;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background:  #B6A1D6;
  border-radius: 3px;
}

/* Getting rid of the default link styles here */
.navbar li a {
  color: #000;
  text-decoration: none;
}

/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}

/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h1 {
  padding: 60px;
  margin: 0;
  color: #000;
  text-align: center;
}

#nav-select {
    visibility: hidden;
}

@media (max-width: 900px) {
  #nav-select {
    padding: 0px;
    float: right;
    /*display: inline-block*/
    visibility: visible;
  }
  .navbar {
    padding: 60px;
    visibility: visible;
  }
  .navbar ul {
    display: none;
    visibility: hidden;
  }

}